{{! Maintainers - Kevin Corry}}
<div class="hidden-hotspots-inner component-inner" role="region" aria-label="{{_globals._components._hiddenHotspots.ariaRegion}}" {{#if _globals._components._hiddenHotspots.ariaRegion}}tabindex="0"{{/if}}>
  {{> component this}}
    <div class="hidden-hotspots-widget component-widget">
        Boom
    </div>
</div>
