<div class="hidden-hotspots-inner component-inner" role="region" aria-label="{{_globals._components._hiddenHotspots.ariaRegion}}" {{#if _globals._components._hiddenHotspots.ariaRegion}}tabindex="0"{{/if}}>
  {{> component this}}
    <div class="hidden-hotspots-widget component-widget">
        <div class="hidden-hotspots-graphic-container">
            {{#if _graphic.src}}
            <img class="hidden-hotspots-graphic" src="{{_graphic.src}}" alt="{{_graphic.alt}}"/>
            {{else}}
            Missing Graphic
            {{/if}}

        </div>
    </div>
    <button class="show-zones">Show Zones</button>
    <div class="buttons">
    </div>
</div>
